.AFG {
    background-image: url("backgrounds/af.svg");
}

.ARG {
    background-image: url("backgrounds/ar.svg");
}

.AUT {
    background-image: url("backgrounds/at.svg");
}

.BRA {
    background-image: url("backgrounds/br.svg");
}

.BOL {
    background-image: url("backgrounds/bo.svg");
}

.CHL {
    background-image: url("backgrounds/cl.svg");
}

.CHN {
    background-image: url("backgrounds/cn.svg");
}

.COL {
    background-image: url("backgrounds/co.svg");
}

.DEU {
    background-image: url("backgrounds/de.svg");
}

.DNK {
    background-image: url("backgrounds/dk.svg");
}

.ECU {
    background-image: url("backgrounds/ec.svg");
}

.ESP {
    background-image: url("backgrounds/es.svg");
}

.FRA {
    background-image: url("backgrounds/fr.svg");
}

.GBR {
    background-image: url("backgrounds/gb.svg");
}

.GRC {
    background-image: url("backgrounds/gr.svg");
}

.GTM {
    background-image: url("backgrounds/gt.svg");
}

.HUN {
    background-image: url("backgrounds/hu.svg");
}

.IRN {
    background-image: url("backgrounds/ir.svg");
}

.ISR {
    background-image: url("backgrounds/il.svg");
}

.ITA {
    background-image: url("backgrounds/it.svg");
}

.JPN {
    background-image: url("backgrounds/jp.svg");
}

.MAR {
    background-image: url("backgrounds/ma.svg");
}

.MEX {
    background-image: url("backgrounds/mx.svg");
}

.PER {
    background-image: url("backgrounds/pe.svg");
}

.PRY {
    background-image: url("backgrounds/py.svg");
}

.RUS {
    background-image: url("backgrounds/ru.svg");
}

.SLV {
    background-image: url("backgrounds/sv.svg");
}

.TUR {
    background-image: url("backgrounds/tr.svg");
}

.USA {
    background-image: url("backgrounds/us.svg");
}

.VAT {
    background-image: url("backgrounds/va.svg");
}

.VET {
    background-image: url("backgrounds/vn.svg");
}